<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <h1><a href="/admin/beer">Beer admin</a></h1>
        <h1><a href="/admin/type">Type admin</a></h1>
    </nav>
    
    <style>
        nav {
            background-color: lightgray;
            display:inline-flex;
            width: 100%;
            height: 50px;
        }
        nav a {
            color: black;
        }
        nav h1 {
            margin: 20px;
        }
    </style>
</body>
</html>