<nav>
    <h1><a href="/">Forside</a></h1>
    <h1><a href="/admin">Admin</a></h1>
</nav>

<style>
    nav {
        background-color: lightgray;
        display:inline-flex;
        width: 100%;
        height: 50px;
    }
    nav a {
        color: black;
    }
    nav h1 {
        margin: 20px;
    }
</style>