@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>

@if (@ViewBag.ErrorDescription != null){
    <h2>
        @ViewBag.ErrorDescription
    </h2>
}
<div class="text-center">
    <h1 class="display-4">Register:</h1>
    @using (Html.BeginForm("RegisterRequest", "Home", FormMethod.Post)){
      <label for="firstName">First name:</label><br>
      <input type="text" id="firstName" name="firstName" value=""><br>
      <label for="lastName">Last name:</label><br>
      <input type="text" id="lastName" name="lastName" value=""><br>
      <label for="password">Password:</label><br>
      <input type="text" id="password" name="password" value=""><br><br>
      <input type="submit" value="Submit">
    }
    @ViewBag.Name
</div>
